<div class="custombanner">
    <a href="{{section.settings.banner_link}}">
            <video class="banner_video" loop muted autoplay >
                <source src="{{section.settings.banner_video}}" type="video/mp4" loading="lazy">
            </video>
            </a>
   
    <a href="{{section.settings.banner_link}}"><video class="custom_banner_img" loop muted autoplay >
        <source src="{{section.settings.banner_mobile}}" type="video/mp4" loading="lazy">
    </video></a>
</div>

{% schema %}
{
"name": "custom banner section",
"settings": [
{
"type": "url",
"id": "banner_video",
"label": "Banner video"
},
{
"type": "url",
"id": "banner_mobile",
"label": "Banner video mobile view"
},
{
"type": "url",
"id": "banner_link",
"label": "Banner link"
}
],
"presets": [
{
"name": "custom banner section",
"settings": {}
}
]
}
{% endschema %}

<style>
    .banner_video {
        max-width: 100%;
    }

    .custom_banner_img {
        display: none;
        max-width: 100%;
    }

    @media (max-width: 768px) {
        .banner_video {
            display: none;
        }

        .custom_banner_img {
            display: block;
        }
    }
</style>