<div class="explore">
  <div class="w-50">
    <div class="explore-box1">
      <div class="explore-img">
        <img src="{{section.settings.explore1 |  img_url:'master' }}" alt="" class="explore_img_1">
        <div class="explore-content">
          <h1>svfkfvkfvfv</h1>
        </div>
      </div>
    </div>
  </div>
  <div class="w-50">
    <div class="explore-box2">
      <div class="explore-img">
        <img src="{{section.settings.explore2 |  img_url:'master' }}" alt="" class="explore_img_2">
        <div class="explore-content">
          <h1>svfkfvkfvfv</h1>
        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "explore Section",
  "settings": [
    {
      "type": "image_picker",
      "id": "explore1",
      "label": " explore img 1"
    },
    {
      "type": "image_picker",
      "id": "explore2",
      "label": "explore img 2"
    }
  ],

  "presets": [
    {
      "name": "explore section"
    }
  ]
}
{% endschema %}

<style>
  .explore .explore-box1,.explore-box2 {
    position: relative;
    object-fit: cover;
  }
  .explore {
    display: flex;
  }
  .explore .explore-content {
    position: absolute;
    background-color: #faf7ed;
    bottom: -20px;
    padding: 30px;
    left: 40%;
  }
  .explore-box2 {
    margin-left: 10px;
  }
  .w-50 {
    width: 50%;
  }
</style>
