<div class="explore">
  <div class="w-50">
    <div class="explore-box1">
      {% if section.settings.explore2 != blank %}
      <div class="explore-img">
        <img src="{{section.settings.explore1 |  img_url:'master' }}" alt="" class="explore_img_1">
        <div class="explore-content">
          <h1>Moissanite Cuban Chain</h1>
          <p>Cuban Chain: Cuban Craftsmanship, Unmatched Elegance</p>
          <button><a href="#">Explore More &nbsp; <i class="fa-solid fa-angle-right c-arrow-icon"></i></a></button>
        </div>
      </div>
    {% endif %}
    </div>
  </div>
  <div class="w-50">
    <div class="explore-box2">
      {% if section.settings.explore2 != blank %}
      <div class="explore-img">
        <img src="{{section.settings.explore2 |  img_url:'master' }}" alt="" class="explore_img_2">
        <div class="explore-content">
          <h1>svfkfvkfvfv</h1>
        </div>
      </div>
    {% endif %}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "explore Section",
  "settings": [
    {
      "type": "image_picker",
      "id": "explore1",
      "label": " explore img 1"
    },
    {
      "type": "image_picker",
      "id": "explore2",
      "label": "explore img 2"
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "background color"
    }
  ],

  "presets": [
    {
      "name": "explore section"
    }
  ]
}
{% endschema %}

<style>
  .explore .explore-box1,.explore-box2 {
    position: relative;
    object-fit: contain;
  }
  .explore {
    display: flex;
    background-color: {{section.settings.background_color}};
  }
  .explore .explore-content {
    position: absolute;
    background-color: #faf7ed;
    bottom: -20px;
    padding: 30px;
    left: 40%;
  }
  .explore-box1 {
    margin-right: 5px;
  }
  .explore-box2 {
    margin-left: 5px;
  }
  .w-50 {
    width: 50%;
  }
</style>
