<div class="page-width page-width--narrow page-content">
  {%- render 'breadcrumbs' -%}
  <header class="section-header">
    <h2 class="section-header__title 1111111111">{{ page.title }}</h2>
  </header>

  <div class="rte rte--nomargin">
    {{ page.content }}
  </div>
</div>

{% schema %}
{
  "name": "Page",
  "tag": "section"
}
{% endschema %}
