<div class="slider_section_1">
  <div class="slider_section_2">
    <div class="heading">
      <h1>Let customers speak for us</h1>
    </div>
    <div class="slider_1">
      <div class="swiper mySwiper">
        <div class="swiper-wrapper">
          <div class="box_1">
            <img src="https://cdn-icons-png.flaticon.com/128/2985/2985150.png" alt="">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci voluptatibus omnis illum dolores. Obcaecati molestias ullam aliquid, doloremque suscipit reprehenderit assumenda adipisci iusto laborum, veniam aliquam, iure totam sint neque.</p>
            <h2>Russell H</h2>
            <h6>united Kingdom, 1 month ago</h6>
          </div>
          <div class="box_1">
            <img src="https://cdn-icons-png.flaticon.com/128/2985/2985150.png" alt="">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci voluptatibus omnis illum dolores. Obcaecati molestias ullam aliquid, doloremque suscipit reprehenderit assumenda adipisci iusto laborum, veniam aliquam, iure totam sint neque.</p>
            <h2>Russell H</h2>
            <h6>united Kingdom, 1 month ago</h6>
          </div>
          <div class="box_1">
            <img src="https://cdn-icons-png.flaticon.com/128/2985/2985150.png" alt="">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci voluptatibus omnis illum dolores. Obcaecati molestias ullam aliquid, doloremque suscipit reprehenderit assumenda adipisci iusto laborum, veniam aliquam, iure totam sint neque.</p>
            <h2>Russell H</h2>
            <h6>united Kingdom, 1 month ago</h6>
          </div>
          <div class="box_1">
            <img src="https://cdn-icons-png.flaticon.com/128/2985/2985150.png" alt="">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci voluptatibus omnis illum dolores. Obcaecati molestias ullam aliquid, doloremque suscipit reprehenderit assumenda adipisci iusto laborum, veniam aliquam, iure totam sint neque.</p>
            <h2>Russell H</h2>
            <h6>united Kingdom, 1 month ago</h6>
          </div>
          <div class="box_1">
            <img src="https://cdn-icons-png.flaticon.com/128/2985/2985150.png" alt="">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci voluptatibus omnis illum dolores. Obcaecati molestias ullam aliquid, doloremque suscipit reprehenderit assumenda adipisci iusto laborum, veniam aliquam, iure totam sint neque.</p>
            <h2>Russell H</h2>
            <h6>united Kingdom, 1 month ago</h6>
          </div>
        </div>
      </div>
    </div>
    <div class="slider_2">
      <div class="swiper mySwiper">
        <div class="swiper-wrapper">
          <div class="box_1">
            <img src="https://cdn-icons-png.flaticon.com/128/2985/2985150.png" alt="">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci voluptatibus omnis illum dolores. Obcaecati molestias ullam aliquid, doloremque suscipit reprehenderit assumenda adipisci iusto laborum, veniam aliquam, iure totam sint neque.</p>
            <h2>Russell H</h2>
            <h6>united Kingdom, 1 month ago</h6>
          </div>
          <div class="box_1">
            <img src="https://cdn-icons-png.flaticon.com/128/2985/2985150.png" alt="">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci voluptatibus omnis illum dolores. Obcaecati molestias ullam aliquid, doloremque suscipit reprehenderit assumenda adipisci iusto laborum, veniam aliquam, iure totam sint neque.</p>
            <h2>Russell H</h2>
            <h6>united Kingdom, 1 month ago</h6>
          </div>
          <div class="box_1">
            <img src="https://cdn-icons-png.flaticon.com/128/2985/2985150.png" alt="">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci voluptatibus omnis illum dolores. Obcaecati molestias ullam aliquid, doloremque suscipit reprehenderit assumenda adipisci iusto laborum, veniam aliquam, iure totam sint neque.</p>
            <h2>Russell H</h2>
            <h6>united Kingdom, 1 month ago</h6>
          </div>
          <div class="box_1">
            <img src="https://cdn-icons-png.flaticon.com/128/2985/2985150.png" alt="">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci voluptatibus omnis illum dolores. Obcaecati molestias ullam aliquid, doloremque suscipit reprehenderit assumenda adipisci iusto laborum, veniam aliquam, iure totam sint neque.</p>
            <h2>Russell H</h2>
            <h6>united Kingdom, 1 month ago</h6>
          </div>
          <div class="box_1">
            <img src="https://cdn-icons-png.flaticon.com/128/2985/2985150.png" alt="">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci voluptatibus omnis illum dolores. Obcaecati molestias ullam aliquid, doloremque suscipit reprehenderit assumenda adipisci iusto laborum, veniam aliquam, iure totam sint neque.</p>
            <h2>Russell H</h2>
            <h6>united Kingdom, 1 month ago</h6>
          </div>
        </div>
        <div class="swiper-pagination"></div>
      </div>
    </div>

  </div>
</div>

{%- schema -%}
  {
    "name": "slider",
    "settings": [],
    "presets": [
      {
        "name": "slider"
      }
    ]
  }
{% endschema %}


<style>
  * {
    margin: 0;
    padding: 0;
  }

  .slider_section_1 {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ededed;
  }

  .slider_section_2 {
    width: 100%;
    margin: 100px 0;
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }

  .heading {
    margin-bottom: 100px;
  }

  .heading h1 {
    font-size: 45px;
  }

  .box_1 {
    width: 430px;
    height: auto;
    text-align: left;
    font-size: 18px;
    background: #ffffff;
    margin-bottom: 35px;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  }

  .box_1 img {
    width: 30px;
    height: 30px;
  }

  .box_1 p {
    font-size: 17px;
    font-weight: 500;
  }

  .box_1 h2 {
    font-size: 20px;
    font-weight: 600;
    text-transform: none;
  }

  .box_1 h6 {
    font-size: 18px;
    letter-spacing: 0;
    font-weight: 600;
    color: rgb(117, 117, 117);
    text-transform: none;
  }

  .swiper-wrapper {
    gap: 20px;
  }

</style>

<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />

<script>
    var swiper = new Swiper(".mySwiper", {
      slidesPerView: 2,
      centeredSlides: true,
      spaceBetween: 20,
      grabCursor: true,
      pagination: {
        el: ".swiper-pagination",
        clickable: true,
      },
    });
</script>