<div class="swiper mSwiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide"> 
         <div class="box_1">
        <img src="{{ section.settings.box_image | img_url: 'master' }}" alt="">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci voluptatibus omnis illum dolores. Obcaecati molestias ullam aliquid, doloremque suscipit reprehenderit assumenda adipisci iusto laborum, veniam aliquam, iure totam sint neque.</p>
        <h2>Russell H</h2>
        <h6>united Kingdom, 1 month ago</h6>
      </div></div>
      <div class="swiper-slide">Slide 2</div>
      <div class="swiper-slide">Slide 3</div>
      <div class="swiper-slide">Slide 4</div>
      <div class="swiper-slide">Slide 5</div>
      <div class="swiper-slide">Slide 6</div>
      <div class="swiper-slide">Slide 7</div>
      <div class="swiper-slide">Slide 8</div>
      <div class="swiper-slide">Slide 9</div>
    </div>
    <div class="swiper-button-prev"><i class="fa-solid fa-chevron-left"></i></div>
    <div class="swiper-button-next"><i class="fa-solid fa-chevron-right"></i></div>
  </div>

  {%- schema -%}
    {
      "name": "testimonial",
      "settings": [
        {
          "type": "image_picker",
          "id": "box_image",
          "label": "image_box"
        }
      ],
      "presets": [
        {
          "name": "testimonial"
        }
      ]
    }
  {% endschema %}

<style>
   .swiper-grid-column>.swiper-wrapper {
    flex-wrap: wrap;
    flex-direction: row;
}
.swiper-slide:nth-child(odd) {
    color: #000000 !important;
}
    .swiper {
      width: 100%;
      height: 100%;
      margin-left: auto;
      margin-right: auto;
    }

    .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: orange;
      height: calc((100% - 30px) / 2) !important;

      /* Center slide text vertically */
      display: flex;
      justify-content: center;
      align-items: center;
    }
  </style>


<script>
    var swiper = new Swiper(".mSwiper", {
      slidesPerView: 3,
      grid: {
        rows: 2,
      },
      spaceBetween: 30,
      navigation: {
        nextEl: ".swiper-button-next",
        prevEl: ".swiper-button-prev",
      },
    });
  </script>