.width-container {
  max-width: 1440px;
  padding: 0px 15px;
  margin: 0 auto;
}

/* START CLS - 017 */

.shopify-section {
  background-color: #F0F0F0;
  position: relative;
}

.template-cart .main-content {
  background-color: #f0f0f0;
}

.review-box {
  padding: 10px 15px;
  background-color: #fff;
}

.overflow {
  overflow: hidden;
}

.animation-contents {
  font-family: 'Italiana' !important;
  text-transform: capitalize;
  font-weight: 400;
}

.footer__newsletter-btn {
  width: 125px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  top: 70px;
  left: 0;
  transform: translateY(-50%);
  right: 0;
  color: var(--shopify-editor-setting-color_footer_text);
  color: #ffffff;
  padding: 10px 10px;
  background: #282828;
}

.footer__newsletter-btn img {
  width: 20px;
  filter: invert(1);
}


.address_footer {
  width: 100%;
  margin-top: 20px;
  height: auto;
  display: flex;
  align-items: center;
  color: white;
  justify-content: center;
}

.footer_line_2 {
  width: 80%;
  height: auto;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;

}

.footer_content_1 {
  display: flex;
  align-items: center;
  margin: 0 auto;
}

.footer_content_1 p {
  margin-bottom: 0;
  font-family: "Montserrat Alternates";
  font-size: 14px;
  font-weight: 300;
  line-height: 21px;
  text-align: center;
  padding: 10px 0px;

}

.footer_content_1 a {
  color: #f0f0f0;
}

.footer_content_2 {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.footer_content_2 a {
  color: #f0f0f0;
  padding: 10px 0px;
  font-family: "Montserrat Alternates";
  font-size: 14px;
  font-weight: 300;
  line-height: 21px;
  text-align: center;
}

.footer_content_2 a:not(:last-child):after {
  content: "|";
  margin: 0 14px;
  color: #fff;
}

.a :last-child {
  display: none;
}

.footer_line {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  height: auto;
  margin-top: 40px;
  flex-wrap: wrap;

}

.footer_box {
  /* width: 80%; */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  height: auto;
  padding: 10px 0;
  border-radius: 10px;
}

.contact_us {
  font-family: "Montserrat Alternates";
  font-size: 28px;
  font-weight: 700;
  line-height: 39.01px;
  text-align: left;
  padding: 10px;
}

.contact_number {
  font-family: "Montserrat Alternates";
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: center;
  padding: 10px;

}

.location {
  font-family: "Montserrat Alternates";
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: center;
  padding: 10px;

}

.Email {
  font-family: "Montserrat Alternates";
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: center;
  padding: 10px;

}

.heading-text {
  font-size: 60px;
  font-weight: 400;
  line-height: 83.43px;
  font-family: 'Italiana' !important;
  color: #282828;
  text-transform: capitalize !important;
  position: relative;
}

.head {
  color: #F0F0F0 !important;
  width: 400px;
  font-size: 60px;
  font-weight: 400;
  line-height: 83.43px;
  font-family: 'Italiana' !important;
  text-transform: capitalize !important;
  position: relative;
}

.head::after {
  background: linear-gradient(90deg, #282828 0%, #F0F0F0 48%, #282828 100%) !important;
  height: 2px;
  width: 100% !important;
  bottom: -15px;
  position: absolute;
  content: "";
  left: 0%;
  right: 0%;

}

.heading-text::after {
  position: absolute;
  content: "";
  width: 40%;
  height: 2px;
  left: 30%;
  right: 30%;
  background: linear-gradient(90deg, #F0F0F0 0%, #313131 48%, #F0F0F0 100%);
}

.common-heading {
  text-align: center;
}

/* END CLS - 017 */


.sub-heading-p {
  font-family: 'Montserrat Alternates';
  font-size: 18px;
  line-height: 36px;
  font-weight: 700;
  padding: 0 100px;
  color: #282828;
  margin-top: 50px !important;
}

.sub-heading-p2 {
  font-family: 'Montserrat Alternates';
  font-size: 14px;
  line-height: 36px;
  font-weight: 600;
  color: #6f6f6f;
  text-transform: capitalize;
  letter-spacing: 1px;
}

.subheading .sub-heading-h1 {
  font-family: 'Montserrat Alternates';
  font-size: 28px;
  font-weight: 700;
  line-height: 36px;
  text-transform: capitalize;
  color: #282828;
  letter-spacing: 0;
}

.subheading {
  text-align: left;
  padding: 0;
  margin: 0;
  padding-left: 20px;
}

.product-price {
  margin: 10px 0;
  font-size: 18px;
  line-height: 32px;
  font-weight: 500;
  color: #282828;
  font-family: 'Fira Sans';
}

.product-title {
  font-family: 'Fira Sans';
  font-size: 20px;
  font-weight: 600;
  color: #000000;
  line-height: 32px;
  padding: 0 10px;
  overflow: hidden;
  height: 100px;
}

.site-header {
  background-color: transparent !important;
  /* box-shadow: 0px 0px 15px #D0C272; */
}

.header-item.header-item--split-right .site-nav.site-navigation {
  padding-left: 10%;
}

.site-nav__item .site-nav__link,
.site-nav--has-dropdown.is-focused>a {
  color: #282828 !important;
  font-family: 'Montserrat Alternates';
  font-weight: 500;
  font-size: 16px;
  line-height: 20.26px;
  text-align: center;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  transition: all 0.5s;
  padding: 7.5px 10px;
  letter-spacing: 0;

}

.site-nav__dropdown.megamenu {
  margin-top: 28px;
}


.site-nav__item .site-nav__link:hover {
  border-left: 1px solid #D0C272;
  border-right: 1px solid #D0C272;
  border-radius: 20px;
  color: #D0C272 !important;
}

.add-to-cart .btn {
  width: 100%;
  background-color: transparent !important;
  border: 2px solid #282828;
  color: #282828;
  font-family: 'Fira Sans';
  text-transform: capitalize;
  letter-spacing: 1px;
}

.image-collection:hover .add-to-cart .btn {
  background-color: #D0C272 !important;
  color: #282828;
  width: 80%;
  border: 0 !important;
}


.cart-link__bubble--visible {
  top: 15%;
  right: -8%;
}

[data-icon=bag-minimal] .cart-link__bubble--visible {
  top: -19% !important;
  right: -20% !important;
  /* border: 1px solid #282828;  */
  background-color: #D0C272;
}

.site-footer__linklist a {
  font-family: "Montserrat Alternates";
  font-size: 16px;
  font-weight: 400;
  line-height: 19.55px;
  text-align: left;

}

.site-nav__link--icon {
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  transition: all 0.5s;
}

.footer__title {
  font-family: "Montserrat Alternates";
  font-size: 16px;
  letter-spacing: 0;
  word-spacing: 0;
  text-transform: none;
  font-weight: 700;
  text-align: left;

}

.footer__small-text {
  display: none;
}

.footer__collapsible .image-wrap {
  width: 132px;
  margin: 0;
  height: 100px !important;
  padding-bottom: 0 !important;
}

.footer__collapsible p {
  font-family: "Montserrat Alternates";
  font-size: 16px;
}

.footer__collapsible p {
  font-family: "Montserrat Alternates";
  font-size: 14px;
  font-weight: 500;
  color: #282828;
  text-align: left;

}



.site-header__logo {
  margin: 0 0 10px;
}

.content-column-images h2 {
  font-size: 20px;
  font-family: "Montserrat Alternates";
  font-weight: 700;
  line-height: 24px;
  color: #344054;
}

.content-column-images h3 {
  font-size: 22px;
  font-family: "Montserrat Alternates";
  font-weight: 700;
  line-height: 27px;
  color: #282828;
}

.content-column-images p {
  font-size: 18px;
  font-family: "Montserrat Alternates";
  font-weight: 400;
  line-height: 27px;
  color: #282828;
  letter-spacing: normal;
}

.content-column-images .image-wrap {
  background: none;
  max-width: 43px;
  /* background: var(--colorSmallImageBg); */
}

.content-column-images .image-wrap img {
  width: 35px;
}

.product_re {
  padding: 60px 0;
}

.collection-content .page-width {
  min-width: 90%;
}

.dispatch-class {
  margin-bottom: 20px;
}

.tab_section.width-container {
  width: 70%;
}

@font-face {
  font-family: 'Italiana';
  src: url(https://cdn.shopify.com/s/files/1/0571/2825/5601/files/Italiana-Regular.woff2?v=1715669580);
}



@media (max-width: 769px) {

  .footer_box,
  .footer_content_1 {
    flex-direction: column;
  }
}


@media (max-width: 980px) {
  .head {
    width: auto;
  }

  .main_image_1 {
    display: none;
  }
}

@media (max-width: 1201px) {
  .head {
    font-size: 46px;
  }
}


@media (max-width: 576px) {
  .head {
    font-size: 36px;
    line-height: 40.43px;

  }
}

@media (max-width: 1200px) {
  .heading-text {
    font-size: 46px;
    font-weight: 400;
    line-height: 83.43px;
    font-weight: 400;
    font-family: 'Italiana' !important;
    color: #282828;
    text-transform: capitalize !important;

  }

  .sub-heading-p {
    padding: 0 60px;
  }
}

@media (max-width: 1110px) {
  .sub-heading-p {
    padding: 0 60px;
    font-size: 16px;
  }
}

@media (max-width: 1024px) {
  .heading-text {
    font-size: 46px;
  }

  .sub-heading-p {
    padding: 0 40px;
    font-size: 16px;
  }

}

@media (min-width:769px) and (max-width: 1109px) {
  .heading-text {
    font-size: 46px;
  }

  .sub-heading-p {
    padding: 0 40px;
    font-size: 16px;
  }

  .contact_us {
    width: 50%;
    text-align: center;
  }

  .contact_n {
    width: 50%;
  }
}

@media only screen and (max-width: 768px) {
  .product-single__meta .diamond-box {
    width: 22%;
  }

  .product-single__meta .main-box-properties {
    gap: 10px;
  }

  .heading-text {
    line-height: 50px;
    font-size: 46px;
  }


  .sub-heading-p {
    padding: 0 20px;
    font-size: 14px;
  }

  .product-price {
    margin: 10px 0;
    font-size: 18px;
    line-height: 32px;
    font-weight: 500;
    color: #282828;
    font-family: 'Fira Sans';
  }

  .product-title {
    font-family: 'Fira Sans';
    font-size: 20px;
    font-weight: 600;
    color: #000000;
    line-height: 32px;
    padding: 0 10px;
  }

  .site-header {
    background-color: #f0f0f0;
  }

  .site-nav__item .site-nav__link {
    color: #282828 !important;
    font-family: 'Montserrat Alternates';
    font-weight: 500;
    font-size: 16px;
    line-height: 20.26px;
    text-align: center;
    text-transform: capitalize;
    letter-spacing: 0px;
    padding: 7.5px 10px;

  }

  .sub-heading-p2 {
    font-size: 14px;
  }

  .image-collection:hover .add-to-cart .btn {
    background-color: #D0C272 !important;
    color: #282828;
    width: 80%;
    border: 0 !important;
  }

  .c-arrow-icon {
    margin-left: 5px;
    font-size: 12px;
    border: 2px solid #ffffff;
    padding: 5px 7px;
    border-radius: 50%;
  }

  .cart-link__bubble--visible {
    top: 15%;
    right: -8%;
  }

  .product-img::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 6px;
    background-color: #D0C272;
    z-index: 1;
    bottom: 0;
  }

  .content-column-images p {
    font-size: 16px;

  }

  .content-column-images h3 {
    font-size: 16px;
  }
}

[data-icon=bag-minimal] .cart-link__bubble--visible {
  top: -19% !important;
  right: -20% !important;
  /* border: 1px solid #282828;  */
  background-color: #D0C272;
}

#SiteHeader .page-width {
  max-width: 1650px;
  padding: 0;
}

.header-item--split-right {
  justify-content: space-between;
}

.header-layout {
  background: #F0F0F0;
  border-radius: 49.88px;
  padding: 0 30px;
  box-shadow: 0px 4px 10px 0px #0000001A;

}

.header-item--split-left {
  justify-content: start;
}

.header-wrapper.is-light .site-nav__link:hover {
  color: #282828;
}

.icon-hamburger.icon {
  color: #282828;
}

/* add css for collection page by cls003 */
.displayflex-collection {
  display: flex;
  flex-wrap: wrap;
}

.grid-product__meta:hover {
  background-color: #FFFFFF;
}

.grid-product__meta {
  background-color: #F8F8F8;
  padding: 10px 15px 6px 15px;
  border-top: 5px solid #D0C272;
}

.grid-product__title {
  letter-spacing: 0px;
  font-family: Fira Sans;
  /* font-size: 22px; */
  font-size: 16px;
  font-weight: 600;
  line-height: 23px;
  text-align: center;

  min-height: 94px;
  max-height: 94px;
  overflow: hidden;
}

.grid-product__price {
  font-family: 'Fira Sans';
  /* font-size: 20px; */
  font-size: 16px;
  font-weight: 500;
  line-height: 25px;
  text-align: center;
  margin: 10px 0;
}

.grid-product__price--original {
  color: #00000089;
}

form.filter-form {
  background: #FFFFFF;
  padding: 15px;
}

.tag--active .tag__checkbox:after,
.tag-list--checkboxes .tag--active a:after,
input:checked~.tag__checkbox:after {
  background-color: unset !important;
  border-color: unset !important;
  content: "\2714";
  display: block;
  position: absolute;
  top: 2px;
  border-width: 0 2px 2px 0;
  transform: rotate(0deg);
  font-size: 16px;
}

.filter-form .tag__checkbox:before {
  border: 2px solid #777777
}

label.tag__checkbox-wrapper {
  justify-content: space-between;
}

.tag__checkbox {
  order: 2;
}

.collection-content .image-collection:hover .add-to-cart .btn {
  width: 100%;
}

.collection-hero .collection-hero__content:before {
  opacity: .7;
}

.section-header--hero .section-header__title {
  font-family: 'Italiana';
  font-weight: 400;
  line-height: 83.43px;
  letter-spacing: 0.1em;
  text-align: center;
  text-transform: capitalize;
}

.collection-content .collapsible-trigger {
  color: #282828;
  position: relative;
  font-family: 'Montserrat Alternates';
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  text-align: left;
  letter-spacing: 0;
  text-transform: capitalize;
}

.collection-title {
  font-family: 'Montserrat Alternates';
  font-size: 26px;
  font-weight: 700;
}

.collection-content .pagination .next,
.collection-content .pagination .prev {
  background: unset;
}

.collection-content .pagination .next .icon,
.collection-content .pagination .prev .icon {
  color: #777777;
}

.collection-content .pagination .page.current {
  opacity: 1;
  background: #111111;
  color: #fff;
  border-radius: 7px;
}

.collection-content .breadcrumb {
  position: absolute;
  background: #fff;
  color: #777;
  box-shadow: 0 4px 4px #0000001a;
  padding: 5px 15px;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 23px;
  font-family: Montserrat Alternates;
  font-size: 12px;
  font-weight: 600;
  line-height: 20px;
  text-align: center;
  z-index: 9;
}

#CollectionAjaxContent {
  padding-top: 10px;
}

.variant__label-info [data-tool-tip="size-chart"] .tool-tip-trigger__title {
  color: #53C7D7;
  text-transform: uppercase;
}

.template-product .variant-wrapper .variant__label,
.template-product .swatch__title {
  font-family: 'Montserrat Alternates';
  font-size: 16px;
  font-weight: 600;
  line-height: 19.5px;
  text-align: left;
  letter-spacing: 0.5px;
  text-transform: capitalize;
}

.color-swatch--rose,
.color-swatch--white-rose {
  background: linear-gradient(180deg, #F6C8AE 0%, #FEEEE6 50.5%, #F4BEA0 100%);
}

.color-swatch--yellow,
.color-swatch--white-yellow {
  background: linear-gradient(180deg, #EECE78 0%, #FDF5DC 50.5%, #EECE7A 100%);
}

.color-swatch--white {
  background: linear-gradient(180deg, #DDDDDC 0%, #F6F6F6 50.5%, #D7D6D6 100%);
}

.customselect {
  background-color: #fff;
  width: 100%;
}

.ringsize {
  width: 48%;
}

.displayflex {
  display: flex;
  justify-content: space-between;
}

.product-block.product-block--price {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
}

.customvariant {
  display: flex;
  flex-direction: column;
}

.personalizebox {
  width: 100%;
  border: 1px solid #D9D9D9;
  background: #F9F9F9;
}

.product__price.product__price--compare {
  color: #777777;
}

.product__price.on-sale,
.product-block--price .product__price {
  font-family: Montserrat Alternates;
  font-size: 22px;
  font-weight: 700;
  line-height: 29.26px;
  text-align: left;
}

.product__price-savings {
  font-family: Montserrat Alternates;
  font-size: 18px;
  font-weight: 700;
  line-height: 24.38px;
  text-align: left;
}

.template-product .product-single__title {
  font-family: "EB Garamond", serif;
  font-size: 28px;
  font-weight: 600;
  line-height: 39.01px;
  text-align: left;
  text-transform: capitalize;
}

.product__quantity,
.personalizebox-label,
.product-single__sku,
.product__price.product__price--compare {
  font-family: Montserrat Alternates;
  font-size: 18px;
  font-weight: 600;
  line-height: 24.38px;
  text-align: left;

}

.payment-buttons .shopify-payment-button__button--unbranded,
.add-to-cart.btn--secondary {
  font-family: Montserrat Alternates;
  font-size: 18px;
  font-weight: 500;
  line-height: 30px;
  text-align: center;
  letter-spacing: 0rem;
}

.variant-input-wrap label.variant__button-label {
  font-family: Montserrat Alternates;
  font-size: 14px;
  font-weight: 600;
  line-height: 17.07px;
  text-align: left;
  color: #777777;
}

.product-section .page-width {
  max-width: 90%;
}

.custom-addtocart {
  width: 60%;
  display: flex;
  gap: 10px;
  align-items: end;

}

textarea#personalize-box::placeholder {
  font-family: 'Montserrat Alternates';
  font-size: 14px;
  font-weight: 600;
  line-height: 19.5px;
  text-align: left;
}

@media screen and (max-width: 1024px) {
  .tab_section.width-container {
    width: 100%;
  }

  .product-single__title {
    font-size: 22px;
  }

  .product__price.on-sale {
    font-size: 20px;
  }

  .collection-content .page-width {
    max-width: 90% !important;
  }
}

@media screen and (max-width: 1300px) {
  .custom-addtocart {
    width: 80%;
    display: flex;
    gap: 12px;
  }
}

@media screen and (min-width: 1024px) {
  .site-nav__dropdown.megamenu {
    min-width: 900PX;
    left: unset;
  }

  .medium-up--one-fifth {
    width: 27%;
  }

  .payment-buttons {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    align-items: center;
  }

  .product__quantity {
    display: grid;
  }

  .add-to-cart.btn--secondary {
    width: 50%;
    margin-top: 10px;
  }

  .shopify-payment-button {
    width: 50%;
  }
}

@media screen and (min-width: 768px) {
  .header-item--logo-split .header-item:not(.header-item--logo) {
    flex: 1 1 20%;
  }

  .template-product .breadcrumb {
    margin: -25px 0 10px;
  }

  .template-product .breadcrumb {
    position: absolute;
    background: #fff;
    color: #777;
    box-shadow: 0 4px 4px #0000001a;
    padding: 5px 15px;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 23px;
    font-family: Montserrat Alternates;
    font-size: 12px;
    font-weight: 600;
    line-height: 20px;
    text-align: center;
    z-index: 9;
  }

  .template-product .breadcrumb {
    margin-top: -25px;
  }
}

@media only screen and (max-width: 768px) {
  .custom-qtybtn {
    margin-bottom: 10px;
  }

  .collection-content .small--one-half {
    width: 100%;
    padding: 0;
  }

  .template-product .breadcrumb {
    margin: 0;
  }

  .header-item--split-right {
    justify-content: end;
  }

}

/* add css for collection page by cls003*/

@font-face {
  font-family: 'Italiana';
  src: url(https://cdn.shopify.com/s/files/1/0571/2825/5601/files/Italiana-Regular.woff2?v=1715669580);
}


@media (max-width: 1389px) {
  .footer_line_2 {
    justify-content: center;
  }
}

@media (min-width: 1269px) {
  .contact_us {
    padding: 10px 30px;
  }

  .contact_number {
    padding: 10px 30px;
  }

  .location {
    padding: 10px 30px;
  }

}

@media (min-width: 1149px) {
  .footer_box {
    padding: 10px 20px;
  }
}

@media (max-width: 1200px) {
  .heading-text {
    font-size: 46px;
  }

  .sub-heading-p {
    padding: 0 60px;
  }
}

@media (max-width: 1110px) {
  .sub-heading-p {
    padding: 0 60px;
    font-size: 16px;
  }
}

@media (min-width: 769px) and (max-width:1024px) {
  .medium-up--four-fifths {
    width: 70% !important;
  }

  .medium-up--one-fifth {
    width: 30% !important;
  }
}

@media (max-width: 1024px) {
  .heading-text {
    font-size: 46px;
  }

  .sub-heading-p {
    padding: 0 40px;
    font-size: 16px;
  }

  .grid-product__title {
    font-size: 14px;
    min-height: 69px;
    max-height: 69px;
    overflow: hidden;
  }

  .grid-product__price {
    font-size: 14px;
  }
}

@media (max-width: 768px) {
  .heading-text {
    line-height: 50px;
    font-size: 46px;
  }

  .sub-heading-p {
    padding: 0 20px;
    font-size: 16px;
  }


}

@media (max-width: 576px) {
  .heading-text {
    font-size: 36px;
    line-height: 60px;
  }

  .sub-heading-p {
    padding: 0 10px;
    font-size: 14px;
  }

  .sub-heading-p2 {
    font-size: 12px;
  }

  .collection-hero {
    height: 160px !important;
  }
}

@media (max-width: 426px) {

  .contact_us {
    font-size: 26px;
  }
}

@media (max-width: 416px) {

  .Email {
    font-size: 12px;
  }

  .contact_number {
    font-size: 12px;
  }

  .location {
    font-size: 12px;

  }
}

@media (max-width: 340px) {

  .Email {
    font-size: 12px;
  }

  .contact_number {
    font-size: 12px;
  }

  .location {
    font-size: 12px;
  }
}

@media (max-width: 400px) {
  .heading-text {
    font-size: 28px;
  }

  .heading-text {
    font-size: 36px;
    line-height: 60px;
  }

  .sub-heading-p {
    padding: 0 10px;
    font-size: 14px;
  }

  .sub-heading-p2 {
    font-size: 12px;
  }

  .subheading .sub-heading-h1 {
    font-size: 22px;
  }
}

@media only screen and (min-width: 769px) {
  .header-item--navigation {
    display: none;
  }

  .header-layout[data-logo-align=center] .header-item--logo {
    margin: 0;

  }
}

.grid__item .grid-product__colors {
  display: none;
}