.width-container {
  max-width: 1440px;
  padding: 0px 15px;
  margin: 0 auto;
}

.overflow {
  overflow: hidden;
}

.heading-text {
  font-size: 64px;
  font-weight: 400;
  line-height: 83.43px;
  font-family: 'Italiana' !important;
  color: #282828;
  text-transform: capitalize !important;
  position: relative;
}

.heading-text::after {
  position: absolute;
  content: "";
  width: 40%;
  height: 2px;
  left: 30%;
  right: 30%;
  background: linear-gradient(90deg, #F0F0F0 0%, #313131 48%, #F0F0F0 100%);
}

.common-heading {
  text-align: center;
}


.sub-heading-p {
  font-family: 'Montserrat Alternates';
  font-size: 24px;
  line-height: 36px;
  font-weight: 700;
  padding: 0 100px;
  color: #282828;
  margin-top: 50px !important;
}

.sub-heading-p2 {
  font-family: 'Montserrat Alternates';
  font-size: 20px;
  line-height: 36px;
  font-weight: 600;
  color: #6f6f6f;
  text-transform: capitalize;
  letter-spacing: 1px;
}

.subheading .sub-heading-h1 {
  font-family: 'Montserrat Alternates';
  font-size: 36px;
  font-weight: 700;
  line-height: 36px;
  text-transform: capitalize;
  color: #282828;
}

.subheading {
  text-align: left;
  padding: 0;
  margin: 0;
  padding-left: 20px;
}

.product-price {
  margin: 10px 0;
  font-size: 20px;
  line-height: 32px;
  font-weight: 500;
  color: #282828;
  font-family: 'Fira Sans';
}

.product-title {
  font-family: 'Fira Sans';
  font-size: 24px;
  font-weight: 600;
  color: #000000;
  line-height: 32px;
  padding: 0 10px;
}

.site-header {
  background-color: transparent !important;
  /* box-shadow: 0px 0px 15px #D0C272; */
}

.site-nav__item .site-nav__link {
  color: #282828 !important;
  font-family: 'Montserrat Alternates';
  font-weight: 500;
  font-size: 16px;
  line-height: 20.26px;
  text-align: center;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  transition: all 0.5s;
  padding: 7.5px 10px;
  letter-spacing: 0;

}

.site-nav__link:hover {
  border-left: 1px solid #D0C272;
  border-right: 1px solid #D0C272;
  border-radius: 20px;
  color: #D0C272 !important;
}

.add-to-cart .btn {
  width: 100%;
  background-color: transparent !important;
  border: 2px solid #282828;
  color: #282828;
  font-family: 'Fira Sans';
  text-transform: capitalize;
  letter-spacing: 1px;
}

.image-collection:hover .add-to-cart .btn {
  background-color: #D0C272 !important;
  color: #282828;
  width: 80%;
  border: 0 !important;
}

.c-arrow-icon {
  margin-left: 5px;
  font-size: 12px;
  border: 2px solid #ffffff;
  padding: 5px 7px;
  border-radius: 50%;
}

.cart-link__bubble--visible {
  top: 15%;
  right: -8%;
}

[data-icon=bag-minimal] .cart-link__bubble--visible {
  top: -19% !important;
  right: -20% !important;
  /* border: 1px solid #282828;  */
  background-color: #D0C272;
}

.site-footer__linklist a {
  font-family: "Montserrat Alternates";
  font-size: 16px;
  font-weight: 400;
  line-height: 19.55px;
  text-align: left;

}

.site-nav__link--icon {
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  transition: all 0.5s;
}

.footer__title {
  font-family: "Montserrat Alternates";
  font-size: 17px;
  letter-spacing: 0;
  word-spacing: 0;
  text-transform: none;
  font-weight: 700;
  text-align: left;

}

.footer__small-text {
  display: none;
}

.image-wrap {
  width: 132px;
  margin: 0;
  height: 100px !important;
  padding-bottom: 0 !important;
}
.footer__collapsible p {
  font-family: "Montserrat Alternates";
  font-size: 16px;
}

.footer__collapsible p {
  font-family: "Montserrat Alternates";
  font-size: 15px;
  font-weight: 500;
  color: #282828;
  text-align: left;

}
.footer_box{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}



@font-face {
  font-family: 'Italiana';
  src: url(https://cdn.shopify.com/s/files/1/0571/2825/5601/files/Italiana-Regular.woff2?v=1715669580);
}

@media (max-width: 1200px) {
  .heading-text {
    font-size: 50px;
    font-size: 64px;
    font-weight: 400;
    line-height: 83.43px;
    font-weight: 400;
    font-family: 'Italiana' !important;
    color: #282828;
    text-transform: capitalize !important;

  }

  .sub-heading-p {
    padding: 0 60px;
  }
}

@media (max-width: 1110px) {
  .sub-heading-p {
    padding: 0 60px;
    font-size: 18px;
  }
}

@media (max-width: 1024px) {
  .heading-text {
    font-size: 50px;
  }

  .sub-heading-p {
    padding: 0 40px;
    font-size: 18px;
  }
}

@media (max-width: 768px) {
  .heading-text {
    line-height: 50px;
    font-size: 50px;
  }


  .sub-heading-p {
    padding: 0 20px;
    font-size: 16px;
  }

  .product-price {
    margin: 10px 0;
    font-size: 20px;
    line-height: 32px;
    font-weight: 500;
    color: #282828;
    font-family: 'Fira Sans';
  }

  .product-title {
    font-family: 'Fira Sans';
    font-size: 24px;
    font-weight: 600;
    color: #000000;
    line-height: 32px;
    padding: 0 10px;
  }

  .site-header {
    background-color: #f0f0f0;
  }

  .site-nav__item .site-nav__link {
    color: #282828 !important;
    font-family: 'Montserrat Alternates';
    font-weight: 500;
    font-size: 16px;
    line-height: 20.26px;
    text-align: center;
    text-transform: capitalize;
    letter-spacing: 0px;
    padding: 7.5px 10px;

  }

  .sub-heading-p2 {
    font-size: 16px;
  }

  .image-collection:hover .add-to-cart .btn {
    background-color: #D0C272 !important;
    color: #282828;
    width: 80%;
    border: 0 !important;
  }

  .c-arrow-icon {
    margin-left: 5px;
    font-size: 12px;
    border: 2px solid #ffffff;
    padding: 5px 7px;
    border-radius: 50%;
  }

  .cart-link__bubble--visible {
    top: 15%;
    right: -8%;
  }

  .product-img::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 6px;
    background-color: #D0C272;
    z-index: 1;
    bottom: 0;
  }
}

[data-icon=bag-minimal] .cart-link__bubble--visible {
  top: -19% !important;
  right: -20% !important;
  /* border: 1px solid #282828;  */
  background-color: #D0C272;
}

#SiteHeader .page-width {
  max-width: 1650px;
  padding: 0;
}

.header-item--split-right {
  justify-content: end;
}

.header-layout {
  background: #F0F0F0;
  border-radius: 49.88px;
  padding: 0 30px;
  box-shadow: 0px 4px 10px 0px #0000001A;

}

.header-item--split-left {
  justify-content: start;
}

.header-wrapper.is-light .site-nav__link:hover {
  color: #282828;
}

.icon-hamburger.icon {
  color: #282828;
}

@font-face {
  font-family: 'Italiana';
  src: url(https://cdn.shopify.com/s/files/1/0571/2825/5601/files/Italiana-Regular.woff2?v=1715669580);
}

@media (max-width: 1200px) {
  .heading-text {
    font-size: 50px;
  }

  .sub-heading-p {
    padding: 0 60px;
  }
}

@media (max-width: 1110px) {
  .sub-heading-p {
    padding: 0 60px;
    font-size: 18px;
  }
}

@media (max-width: 1024px) {
  .heading-text {
    font-size: 50px;
  }

  .sub-heading-p {
    padding: 0 40px;
    font-size: 18px;
  }
}

@media (max-width: 768px) {
  .heading-text {
    line-height: 50px;
    font-size: 50px;
  }

  .sub-heading-p {
    padding: 0 20px;
    font-size: 16px;
  }

  .sub-heading-p2 {
    font-size: 16px;
  }
}

@media (max-width: 576px) {
  .heading-text {
    font-size: 40px;
    line-height: 60px;
  }

  .sub-heading-p {
    padding: 0 10px;
    font-size: 14px;
  }

  .sub-heading-p2 {
    font-size: 14px;
  }
}

@media (max-width: 400px) {
  .heading-text {
    font-size: 30px;
  }

  .heading-text {
    font-size: 40px;
    line-height: 60px;
  }

  .sub-heading-p {
    padding: 0 10px;
    font-size: 14px;
  }

  .sub-heading-p2 {
    font-size: 14px;
  }

  .subheading .sub-heading-h1 {
    font-size: 24px;
  }
}

@media only screen and (min-width: 769px) {
  .header-item--navigation {
    display: none;
  }

  .header-layout[data-logo-align=center] .header-item--logo {
    margin: 0;

  }
}